@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600|IBM+Plex+Sans+Condensed:600');

/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}[hidden]{display:none}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


body {
    background: #fff;
    color: #111;
    font-family: "EB Garamond";
    font-size: 12px;
    overflow-x: hidden;
}

#loading {
    background: #fff url('/loading.svg') center no-repeat;
    color: #ccc;

    font-family: "IBM Plex Sans Condensed";
    font-size: 2em;
    text-align: center;

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}

noscript {
    z-index: 99;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 3em;
}

#oh-crap {
    z-index: 99;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 99%;
    height: 99%;
    background: #fff;
    visibility: hidden;
    font-size: 3em;
}

#wrapper {
    width: 90%;
    margin: 4% auto;

   /*-webkit-transition: opacity .25s ease;
   transition: opacity .25s ease;*/
}

#time {
    color: #ddd;
    font-family: "IBM Plex Sans Condensed";
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.approximate-time::before {
    content: "about ";
}

#quote {
    font-size: 5vw;
    line-height: 1.25;
}

#quote strong {
    font-weight: 600;
    color: #ff3300;
}

#source {
    font-size: 3.125vw;
    line-height: 1.25;
    margin-top: 1.5em;
    text-align: right;
    color: #666;
}

#book {
    font-style: italic;
}

@media (min-width: 350px) and (max-width: 600px) {
    #time {
        margin-bottom: 1em;
        font-size: 1.25rem;
    }
    #quote {
        font-size: 2.25rem;
    }
    #source {
        margin-top: 1em;
        font-size: 1.3rem;
    }
    #comma {
        display: none;
    }
    #book {
        display: block;
    }
}
