@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600|IBM+Plex+Sans+Condensed:600");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
p {
  overflow-wrap: break-word;
}

/** End Reset */

:root {
  --color-background: #101010;
  --color-text: #fff;
  --color-text-light: #535252;
  --color-text-lighter: #999;
  --color-highlight: red;
}

html,
body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: "EB Garamond";
}

noscript {
  z-index: 99;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 3em;
}

#app {
  padding: 4em;
}

strong {
  color: var(--color-highlight);
}

header {
  color: var(--color-text-light);
  font-family: "IBM Plex Sans Condensed";
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}

main > p {
  font-size: 5vw;
  line-height: 1.25;
}

footer {
  font-size: 3.25vw;
  line-height: 1.25;
  margin-top: 1.5em;
  text-align: right;
  color: var(--color-text-lighter);
}

@media (min-width: 350px) and (max-width: 600px) {
  #app {
    padding: 2em;
  }

  header {
    margin-bottom: 1em;
    font-size: 1.25rem;
  }
  main > p {
    font-size: 2.25rem;
  }
  footer {
    margin-top: 1em;
    font-size: 1.3rem;
  }
}
